:root {
	min-width: 960px;
	border-bottom-color: transparent;
}
.VPFooter {
	border-top: none;
}
.VPNavBar.screen-open {
	border-bottom: none;
}
.VPNavScreenMenuLink {
	border-bottom: none;
}
.VPNavScreenMenuGroup {
	border-bottom: none;
}
.VPLocalNav {
	border-bottom: none;
}
.divider {
	display: none;
}
