// 黑暗模式切换动画
// --------------------------------------------------------------------------
::view-transition-old(*) {
  animation: none;
}

::view-transition-new(*) {
  animation: globalDark 0.8s ease-in;
}

@keyframes globalDark {
  from {
    clip-path: circle(0% at var(--darkX) var(--darkY));
  }
  to {
    clip-path: circle(100% at var(--darkX) var(--darkY));
  }
}

// 黑暗模式下界面优化
// --------------------------------------------------------------------------
.dark {
  img {
    filter: brightness(.8);
    transition: filter 0.35s ease;
  }
}

/* 动画蒙版的基本样式（脚本会以行内样式为主） */
.vp-dark-transition-overlay {
  will-change: clip-path, opacity;
  transition: clip-path 0.7s ease-out, opacity 0.7s ease-out;
}